

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: library-backend
    ports:
      - "8000:8000"
    environment:
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USER: library.notifications322@gmail.com
      SMTP_PASSWORD: magg ppmz whof qrhu
      EMAIL_FROM: library.notifications322@gmail.com
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/library
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: library-db
    environment:
      POSTGRES_DB: library
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d library"]
      interval: 5s
      retries: 5
      timeout: 3s
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: library-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pgdata:
